header, nav, html, body, ul{
	margin: 0;
	padding: 0;
}

body {
	margin-left: 400px;
	margin-right: 400px;
}

header {
	width: 100%;
	background: #999;
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.menu-button {
	background: red;
	z-index: 1000;
}

nav {
	display: grid;
	grid-template-columns: 1fr;
	transition: all 3s;
	
}

ul {
	
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	transition: all 3s;
}

li {
	opacity: 1;
	position: initial;
	transition: transform 1s, opacity 2s;
}

.hide {
	opacity: 0;
}

.sw {
	width: 50px;
	overflow-x: hidden;
}

.lisw {
	position: absolute;
	left: 400px;
}

.rotate {
	transform: rotate(-35deg);
	transform-origin: top left;
}

.btnblt {
	display: flex;
	flex-direction: row;
	transition: all 2s;
}

.menu-bullet {
	position: flex;
	transition: all 1s;
}

a {
	text-decoration: none;
}

#bullet {
	transform: translate3d(0, 0, 0);
	z-index: 9999;
}
