<div class="content-container">
	<div class="row">
		<p>We are <strong>{{ name }}</strong> (Reverse Engineer), a for profit, reverse engineering firm. Our CEO Michael Jennings is a world renowned engineer and bonafide genius. Michael works alongside our team of top professionals in thei respective fields to ensure you the result that you want. RE has been working alongside companies for over two decades, providing impecible service to hundreds of clients. We take privacy very seriously and respect any wished for a client to remain anonymous. If you are interested in working with us, reach out to us <a href="{{ contact }}">here</a> or check out our services <a href="{{ services }}">here</a>.</p>
	</div>
</div>