<!-- Code for the Header/Navbar begins -->
<header class="" id="top-of-screen-bar">
	<div class="container">
	  <h1 class="logo">{{ name }}</h1>
	  <nav class="site-nav stroke">
	    <ul>
	    	{ for item in links }
            <li><a href="{{ item.link }}.php" class="{{ item.name }}-button">{{ item.name }}</a></li>
 			{ endfor }
	    </ul>
	  </nav>

	  <div class="menu-toggle">
	    <div class="hamburger"></div>
	  </div>
	</div>
</header>
<!-- Code for the Header/Navbar ends -->