@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
	color: rgba(0, 0, 0, 0.7);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

p {
	margin: 0px;
}

h3, h1 {
	color: #444;
	font-size: 2em;
}

.contact-info {
	margin-top: 10px;
}

.pt {
	padding-top: 10px;
}

.info {
	border-radius: 10px;
	transition: all 1s ease-in;
}



.title-text {
	font-size: 4em;
	font-weight: 600;
}

.heading {
	font-weight: 600;
}

.right-col {
	border-left: solid #999 1px;
	padding-left: 40px;
	padding-top: 40px;
	text-align: center;
	max-height: 300px;
	overflow: hidden;	
}

.right-col-content {
	padding-top: 50px;
}

.footer {
	text-align: center;
	border-top: #444 solid 1px;
	margin-top: 30px;
	padding-top: 10px;
}
