@import url('https://fonts.googleapis.com/css?family=Gothic+A1|PT+Serif');

body {
	font-family: 'Gothic A1', sans-serif;
	max-width: 100%;
	overflow-x: hidden;
    position:relative;
    min-height: 100vh;
}



li {
	list-style: none;
}

h1 {
	font-family: 'PT Serif', serif;
}

.container-all {
	/* position: relative; */

	display: grid;
  	grid-template-rows: auto auto auto;
}


/* Styling and functionality for the navbar */

header {
	background: black;
	opacity: 0.90;
	color: #FAFAFA;
	padding: 0.6em 0;
	position: relative;
	font-size: 14px;

	.header--open {
		opacity: 1;
	}

	header::after {
		content: '';
		clear: both;
		display: block;
	}

	.logo {
		text-align: center;
		font-size: 1rem;
		margin: 0;
		opacity: 0.0;
	}

	.logo-open {
		opacity: 0.95;
	}
}

.site-nav {
	top: 100%;
	left: 0%;
	width: 100%;
	background: black;
	opacity: 0.95;
	position: absolute;
	height: 0px;
	overflow: hidden;

	ul {
		margin: 0em 1em;
		padding: 0;
		list-style: none;
	}

	li {
		border-bottom: 1px solid #575766;
	}

	li:last-child {
		margin-bottom: 100%;
	}

	a {
		color: #FAFAFA;
		text-decoration: none;
		display: block;
		padding: 2em 6em;
	}

	a:hover, a:focus {
		color: #FAFAFA;
	}

	ul li a {
		transition: none;
	}

}

.site-nav--open {
	height: auto;
	opacity: 1;
}

.menu-toggle {
	padding: 0em;
	position: absolute;
	left: 0em;
	top: 0em;
	padding: 1em 1em;
	cursor: pointer;
}

.hamburger,
.hamburger::after {
	content: '';
	display: block;
	background: #FAFAFA;
	height: 1px;
	width: 1.4em;
	border-radius: 3px;
	transition: all ease-in-out 400ms;
}

.hamburger::after {
	transform: translateY(8px);
	width: 1.4em;

}

.open .hamburger {
	transform: translateY(8px) rotate(135deg);
}

.open .hamburger::after {
	transform: rotate(-90deg);
}

nav {
	ul li {
		a, a:after, a:before {
			transition: all .4s;
		}

		a {
  			position: relative;
		}

		a:after {
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		  width: 0%;
		  content: '.';
		  color: transparent;
		  background: #aaa;
		  height: 1px;
		}

		a:hover:after {
  			width: 100%;
		}

	}
}

footer {
	background: black;
	opacity: 0.90;
	color: #FAFAFA;
	padding: 0.6em 0;
	font-size: 14px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0;

		li {
			justify-conent: center;
		}
	}
 	grid-row-start: 3;
 	grid-row-end: 4;

}

.content-container {
	margin-left: 400px;
	margin-right: 400px;
	font-size: 11;
	color: #444;

}

.content-projects {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 100px;
	.card {
		display: grid;
		grid-template-columns: 1fr;
		border-radius: 0px;
		padding: 10px;
		margin: 10px;
	}
}

.content-services {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	align-items: center;
	justify-content: center;

	.card {
		display: grid;
		grid-template-columns: 1fr;
		border: 1px solid #999;
		justify-content: center;
		text-align: center;
		border-radius: 0px;
		padding: 10px;

		h1 {
			background: #d3d3d3;
		}
	}
}

canvas{
      position:absolute;
      left:0;
      top:0;
      z-index:-1;
    }

.content {
 	display: grid;
 	grid-template-columns: 1fr;
 	overflow: hidden;
 	margin-left: 100px;
	margin-right: 100px;

 	.left {
 		display: grid;
 		grid-template-columns: 1fr;

 	}

 	.right {
		display: grid;
 		grid-template-columns: 1fr;
		border-left: 1px solid #999;
		padding: 20px;

		input {
			margin-top: 5px;
		}

		button {
			border-radius: 0px;
			transition: all 0.3s;
			border: none;
			margin-top: 5px;
		}

		button:hover {
			color: #999
		}
 	}
 }

button, input {
	margin-top: 5px;
}
 .contact-form {
 	font-size: 13px;
 	display: grid;
	padding: 20px 100px 20px 100px;
	transition: all 1s ease-in-out;

	button {
		border-radius: 0px;
		transition: all 0.3s;
	}

 	.half-row {
 		margin-top: 10px;
 		margin-bottom: 10px;
 		display: grid;
 		column-gap: 10px;
 		grid-template-columns: 1fr 1fr;

 		input {
 			width: 100%;
 		}
 	}

 	.full-row {
 		margin-top: 10px;
 		margin-bottom: 10px;
 		display: grid;
 		grid-template-columns: 1fr;
 	}

 	input, textarea {
 		
 		padding: 3px;
 	}

 	button:hover {
 		color: #999
 	}

 }

@media (max-width:1124px) {
	.content-container {
		margin-left: 50px;
		margin-right: 50px;
	}

	
	
}

@media (max-width:767px) {
	.content {
		.right {
		border: none;
		}
	}
	
}

@media (min-width: 767px) {


	.menu-toggle {
		display: none;
	}

	ul {
		display: flex;
		justify-content: center;
	}

	.site-nav {
		height: auto;
		position: relative;
		background: transparent;
		text-align: center;

		li {
			border: none;
		}

		a {
			padding: 0em 4em;
			background: rgba(0,0,0, 0.8);
		}

		li:last-child {
			margin-bottom: 0%;
			border: none;
		}
	}

	header {
		padding: 0.6em 0;
		background: black;
		opacity: 0.90;
	}

	.logo {
		display: none;
		color: #FAFAFA;
	}

}

.hide {
	display: none;
}