{ for item in pokemon }
<form method="post" action="">
<div class="col-sm-3 text-center" style="margin-bottom: 30px; margin-top: 30px;">
	<div class="card w-100" style="width: 6rem;">
	  <div class="card-img-top text-center"><span style="font-size: 24px; font-weight: bold;">{{item.id}}</span></div>
	  <div class="card-body">
	    <h5 class="card-title">{{item.name}}</h5>
	    <p class="card-text">{{item.name}}</p>
	    <button type='submit' name='removeP' value='{{ item.num }}' class="btn btn-primary">Remove</button>
	  </div>
	</div>
</div>
</form>
{ endfor }