{ for item in pokemon }
            <tr><button type='submit' name='updateP' value={{ item.num }},{{ item.nname }},{{ item.type1 }},{{ item.type2 }}>#{{ item.num }} {{ item.name }} Types: {{ item.type1 }} {{ item.type2 }}</button><tr>
            
 { endfor }