.list-name {
	transition: background .1s ease-in;
}

.list-name:hover {
	background: #D3D3D3;
}

.bold {
	font-weight: bold;
}

strong {
	border-bottom: 1px solid black;
}

img {
	width: auto !important; 
	height: 140px !important;
}

#char-info {
	min-height: 220px;
}

