@red = #CC0000;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

}

a {
	text-decoration: none;
}

header {
	background: @red;
	color: white;
	text-align: center;
	padding: 30px;
	h1 {
		margin: 0;
	}
}

ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	li {
		padding: 3px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

hr {
	margin: 0;
}

.container {
	display: grid;
	grid-template-areas:
	'side cardsec cardsec cardsec cardsec cardsec cardsec cardsec'
	'side table table table table table table table';
}

.table {
	grid-area: table;
	background: #d3d3d3;
	text-align: center;
	overflow-y: scroll;
	max-height: 400px;
	a {
		color: #333;
		width: 100%;
		height: auto;
	}

	li:hover {
		color: #999;
	}
}

.side-bar {
	text-align: center;
	background: #fff;
	grid-area: side;
	
	a {
		color: #333;
		width: 100%;
		height: auto;
	}
	a:hover {
		color: #3B4CCA;
	}
}

.card-section {
	background: #fff;
	grid-area: cardsec;
	display: flex;
	flex-direction: row;
}

.card {
	border: 1px solid #333;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	text-align:center;
}

button {
	width: 100%;
	display: block;
	color: #fff;
	background: #3B4CCA;
	border-color: #3B4CCA;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 5px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}